@page "/experience"

<PageTitle>Experience</PageTitle>

<RadzenCard class="m-3">
<div>
    <h2>Experience</h2>

    <b>Support Engineer</b>
    <h4>Teleperformance / 2022 - Present</h4>
    <p>Finding and communicating solutions to technical problems presented by customers. The scope 
        included  alerts and email, document routing agent, feature management and flighting, workflow 
        framework, users and security, services and runtime, system administration, reporting, business 
        events, and office Integration. 
    </p>
    <br>
    <b>Chief Content Officer</b>
    <h4>Hivebound / 2018 - 2021</h4>
    <p>Overseeing all marketing content initiatives, both internal and external, across multiple platforms and formats to drive sales, engagement, retention, leads and positive customer behavior for Hivebound’s clients.

    </p>
    <br>
    <b>Marketing Freelancer</b>
    <h4>Upwork / 2016 - 2018</h4>
    <p>Developing specific marketing campaigns, including but not limited to Ads, email automations, blogging, and lead generation.

    </p>
    <br>
    <b>Regional Distributor</b>
    <h4>PB Collections / 2014 - 2016</h4>
    <p>Making initial contact with regional retail stores, securing wholesale deals, and overseeing shipping and billing.

    </p>
</div>

</RadzenCard>