@page "/"

<PageTitle>Curriculum</PageTitle>

<table class="acordeon">
    <tr>
        <td>trying</td>
        <td>tables</td>
    </tr>
     <tr>
        <td>trying</td>
        <td>tables</td>
    </tr>
</table>
<ContactInfo />
<Experience />
<Projects />
<Skills />
<Education />


