@page "/skills"

<PageTitle>Skills</PageTitle>

<RadzenCard class="m-3">
<div>
    <h2>Skills</h2>
    <div class="d-flex flex-row">
        <div>
        <h3>Repository</h3>
        <a href="https://github.com/danox46/DNX-Scripts" target="_blank">Github</a>
        <p><br></p>
        <h3>Languages</h3>
        <ul>
            <li>Spanish (Native)</li>
            <li>English (Certified by TOEFL)</li>
        </ul>
        </div>
        <div>
            <h3>Tools & Technologies</h3>
            <div class="d-flex flex-row">
                <ul>
                    <li>Unity 3D</li>
                    <li>C#</li>
                    <li>Github</li>
                    <li>C++</li>
                    <li>Python</li>
                </ul>  
                <div>
                    <ul>
                    <li>SQL</li>
                    <li>Google Cloud</li>
                    <li>ASP.Net</li>
                    <li>Wordpress</li>
                    <li>JupyterLab</li>
                    </ul>
                </div>  
            </div>
            

        </div>
    </div>

</div>
</RadzenCard>