@page "/contact-information"

<PageTitle>Contact Information</PageTitle>

<RadzenCard class="m-3">
<div>
    <h1> Daniel Rosales</h1>
    <div class="d-flex flex-row">
        <div><img src="/images/daniel.jpg" style="height: 100px; weigth: 100px"></div>
        <div>
        <p>
        Support Engineer<br>
        danielx9@gmail.com<br>
        +57 3006211340<br>
        Calle 151 #111A-87, Bogotá, Colombia.
        </p>
        </div>
    </div>

</div>
</RadzenCard>



