@page "/education"

<PageTitle>Education</PageTitle>

<RadzenCard class="m-3">
<div>
    <h2>Education</h2>

    <b>Computer Science (Not finished)</b>
    <h4>Universidad de Carabobo 2008 - 2012</h4>
    <br>
    <a href="https://www.coursera.org/account/accomplishments/verify/RM6CPFGG7W92?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=course" target="_blank">Google Cloud Big Data and Machine Learning Fundamentals</a>
    <h4>Coursera</h4>
    <br>
    <a href="https://www.coursera.org/account/accomplishments/certificate/LS8HVJRKUT2N" target="_blank">Introduction to Structured Query Language</a>
    <h4>Coursera</h4>
    <br>
    <a href="https://www.coursera.org/account/accomplishments/certificate/MHUL7ZMPDHHQ" target="_blank">How Google does Machine Learning</a>
    <h4>Coursera</h4>
    
    
</div>

</RadzenCard>