@page "/projects"

<PageTitle>Projects</PageTitle>

<RadzenCard class="m-3">
<div>
    <h2>Freelance Projects</h2>
    <a href="https://www.youtube.com/watch?v=DLj4q70K6kY&t" target="_blank">MAI </a>
    <h4>2020-2022</h4>
    <p>MAI is a marketing planning application proven to enhance the efficiency of marketing strategists. The application features custom artificial intelligence, PDF generation and export, a project dashboard, custom equations, UI implementation, and analytics capacity.

    </p>
    <br>
    <a href="https://dnxgaming.itch.io/leaf-town" target="_blank">Leaf Town</a>
    <h4>2020-2021</h4>
    <p>Overseeing all marketing content initiatives, both internal and external, across multiple platforms and formats to drive sales, engagement, retention, leads and positive customer behavior for Hivebound’s clients.

    </p>
    <br>
    <a href="https://dnxgaming.itch.io/the-children-of-preservation" target="_blank">The Children of Preservation</a>
    <h4>2018-2020</h4>
    <p>Developing specific marketing campaigns, including but not limited to Ads, email automations, blogging, and lead generation.

    </p>
  
</div>

</RadzenCard>